 body {
     height: 100vh;
     font-family: Arial, sans-serif;
     line-height: 1;
 }
 
 .image-container {
     display: flex;
     align-items: center;
 }
 
 .image-container img {
     width: 60px;
     height: 60px;
 }
 
 .header {
     padding: 10px;
 }
 
 nav ul {
     padding: 0;
 }
 
 nav ul li {
     display: inline;
     margin-right: 10px;
 }
 
 nav ul li a {
     text-decoration: none;
     border-radius: 10px;
     color: #050505;
     font-size: 18px;
     padding: 8px;
 }
 
 nav ul li a:hover {
     background-color: #bab5b5;
 }
 
 .divbutton {
     width: 100%;
     display: flex;
     justify-content: center;
 }
 
 .button1 {
     border-radius: 30px;
     height: 150px;
     width: 900px;
     cursor: pointer;
     font-size: 50px;
     border: none;
     background-image: linear-gradient(to right, #575656, #e7e6e6);
 }
 
 .button2,
 .button3,
 .button4 {
     height: 130px;
     width: 230px;
     font-size: 30px;
     margin: 20px;
     /* background-color: #bab5b5; */
     color: rgb(12, 12, 12);
     border: none;
     border-radius: 20px;
     cursor: pointer;
     background-image: linear-gradient(to right, #575656, #e7e6e6);
 }
 /* .button2:hover,
.button3:hover,
.button4:hover,
.button1:hover {
    background-color: #dddddd;
} */
 
 .div1 {
     height: 70%;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 
 .log {
     float: left;
 }